//bardzo brzydko, stylow sie nie pcha w HTML code, wynosi sie do osobnych plikow css
<style>
    * {
        box-sizing: border-box;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .header {
        background-color: #636c72;
        color: #ffffff;
        padding: 15px;
        border-radius: 15px;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer {
        background-color: #636c72;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 15px;
        border-radius: 15px;
    }

</style>


<div class="header">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <a href="#!/"><li><a href="#!/login" style="color: white">Contact</a></li></a>
            <a href="#!/login"><li><a href="#!/login" style="color: white">Sign out</a></li></a>
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-3 col-m-3 menu">
        <ul>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">All rooms</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">All services</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Price list</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Find a room</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Occupancy of rooms</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">All services</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">History of guest visits</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Find a guest</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Create a reservation</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 250px">Statistics</button>
        </ul>
    </div>

    <div class="col-6 col-m-9">
        <h1>HOTEL</h1>
        <p>Welcome in the hotel</p>
    </div>
</div>

<div class="footer">
    <p>Copyright 2017</p>
</div>