<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">

            <form ng-submit="findClientByName(name)">
                <div class="form-group">
                    <label for="name">Find by name</label>
                    <input type="name" class="form-control" id="name" placeholder="name" id="name"
                           ng-model="client.name">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
            <!--<form ng-submit="deleteClient(clientId)">-->
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients">
                    <td>{{client.clientId}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.surname}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.login}}</td>

                    <td>
                        <button class="btn btn-danger" ng-click="deleteClient(client)">Delete</button>
                    </td>
                    <!--<td>-->
                        <!--<button class="btn btn-default" ng-click="deleteClient(clientId)">Edit</button>-->
                    <!--</td>-->

                </tr>
                </tbody>
            </table>
            <!--</form>-->

        </div>
    </div>
</div>


