<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#/">Lista Zadań Online</a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li data-ng-class="getClass('/list')"><a href="#/list">Twoje zadania</a></li>
                <li data-ng-class="getClass('/edit')"><a href="#/edit">Dodaj zadanie</a></li>

            </ul>
        </div>
    </div>
</nav>