<div id="container">
    <div id="selection"
         style="border: 1px solid black; border-radius: 5px; padding: 35px; width: 30%; margin: 45px auto;">
        <div class="form-group" style="text-align: center;">
            <h3>Welcome in the hotel management system</h3><br/>
            <h5>Select the module you want to visit:</h5><br/>
            <form role="form">
                <a href="#!/client"><button type="submit" class="btn btn-lg btn-primary btn-block">Client Module</button></a><br/>
                <a href="#!/receptionist"><button type="submit" class="btn btn-lg btn-primary btn-block">Receptionist Module</button></a>
                <br/>
            </form>
        </div>
    </div>
</div>